 <!-- Sidebar -->
 <div class="border-end bg-white" id="sidebar-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
     <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
     <div class="list-group list-group-flush" th:if="${#authentication.principal.cmoUser.type == T(org.cmo.cmoportal.cmoUser.UserType).STAFF}">
         <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users/examiner/all}">Examiners</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users/candidate/all}">Candidates</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/submission/all}">Submissions</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users/me}">Profile</a>
     </div>
     <div class="list-group list-group-flush" th:if="${#authentication.principal.cmoUser.type == T(org.cmo.cmoportal.cmoUser.UserType).EXAMINER}">
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/submission/assigned}">Submissions</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users/me}">Profile</a>
     </div>
     <div class="list-group list-group-flush" th:if="${#authentication.principal.cmoUser.type == T(org.cmo.cmoportal.cmoUser.UserType).CANDIDATE}">
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/users/me}">Profile</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/submission}">Submission</a>
         <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/biodata}">Bio-data</a>
     </div>
 </div>

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="nav-bar">
     <div class="container-fluid">
         <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                 <li class="nav-item active"><a class="nav-link" th:href="@{'/home'}">Home</a></li>
                 <li class="nav-item"><a class="nav-link" th:href="@{'/logout'}">Logout</a></li>
<!--                 <li class="nav-item dropdown">-->
<!--                     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--                     <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">-->
<!--                         <a class="dropdown-item" href="#!">Action</a>-->
<!--                         <a class="dropdown-item" href="#!">Another action</a>-->
<!--                         <div class="dropdown-divider"></div>-->
<!--                         <a class="dropdown-item" href="#!">Something else here</a>-->
<!--                     </div>-->
<!--                 </li>-->
             </ul>
         </div>
     </div>
 </nav>

