<!DOCTYPE html>
<html layout:decorate="~{Main}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Submit File</title>
</head>
<body>
<div layout:fragment="content">
  <div class="userDetails">
    <h4>Basic Details</h4>
    <p><strong>First Name: </strong><span th:text="${user.firstName}">First Name</span></p>
    <p><strong>Last Name: </strong><span th:text="${user.lastName}">Last Name</span></p>
    <p><strong>Email: </strong><span th:text="${user.email}">Email</span></p>
  </div>
  <br />
  <div class="candidateBio" th:if="${user.type == T(org.cmo.cmoportal.cmoUser.UserType).CANDIDATE}">
    <h4>Change password</h4>
    <form method="post" th:object="${resetPassword}">
      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <input type="text" id="form8Example1" class="form-control" th:field="*{oldPassword}" />
            <label class="form-label" for="form8Example1">Old Password</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <input type="text" id="form8Example2" class="form-control" th:field="*{newPassword}" />
            <label class="form-label" for="form8Example2">New Password</label>
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col">
          <!-- Email input -->
          <div class="form-outline">
            <input type="date" id="form8Example3" class="form-control" th:field="*{newPassword1}"/>
            <label class="form-label" for="form8Example3">Confirm New Password</label>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <br />

</div>
</body>
</html>
